{% extends "base.html" %}
{% block title %}Добавить запись{% endblock %} <!--Прошу объяснить, как выровнять заголовок по центру в форме-->
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-8 p-5">
      <div class="card">
          <div class="card-header">Новая запись</div>
          <div class="card-body">
            <form method="post"> <!--Прошу объяснить, как перенести лейбл поля в верхний левый угол-->
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">
                Добавить новую запись <!--Прошу объяснить, как выровнять кнопку по центру в форме-->
              </button>
            </form>
          </div> <!-- card body -->
      </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}
